In [16]:
import sklearn
import tensorflow
import keras
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
import pickle
from matplotlib import style

In [2]:
data=pd.read_csv("student-mat.csv", sep=";")
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

Linear Regression

In [3]:

data.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [4]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [5]:
data.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [6]:
data.info

<bound method DataFrame.info of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

In [7]:
studentdata= data[['G1', 'G2', 'G3','studytime','failures','absences']]

In [8]:
studentdata

     G1  G2  G3  studytime  failures  absences
0     5   6   6          2         0         6
1     5   5   6          2         0         4
2     7   8  10          2         3        10
3    15  14  15          3         0         2
4     6  10  10          2         0         4
..   ..  ..  ..        ...       ...       ...
390   9   9   9          2         2        11
391  14  16  16          1         0         3
392  10   8   7          1         3         3
393  11  12  10          1         0         0
394   8   9   9          1         0         5

[395 rows x 6 columns]

In [9]:
predict='G3'

In [10]:
X=np.array(studentdata.drop([predict],axis=1))
y=np.array(studentdata[predict])

In [11]:
x_train,x_test,y_train,y_test=sklearn.model_selection.train_test_split(X,y,test_size=0.1)

Linear regression is for data that directly correlates.

In [19]:
#how accurate the model will be
linearmodel=linear_model.LinearRegression()
linearmodel.fit(x_train,y_train)
acc=linearmodel.score(x_test,y_test)
print(acc)

0.7057408784412758

The for loop in the new cell here is for saving the model with the highest accuracy. the for loop is to continually train the model until you get one that has the highest accuracy

In [21]:
for i in range(10):
    x_train,x_test,y_train,y_test=sklearn.model_selection.train_test_split(X,y,test_size=0.1)
    linearmodel=linear_model.LinearRegression()
    linearmodel.fit(x_train,y_train)
    acc=linearmodel.score(x_test,y_test)
    print(acc)
    
    best=acc
    if acc>best:
        
        with open("studentmodel.pickle","wb") as f:
            pickle.dump(linearmodel,f)

0.7837468761813289
0.8364243526211095
0.9029125643496743
0.7590944110701903
0.9176755362771977
0.7868565511657762
0.7886054527816156
0.9203941856201973
0.8036470544885869
0.8674671762830021

The model saved is in binary and when ready to use it you can load it.

In [22]:
#pickle is for saving models
with open("studentmodel.pickle","wb") as f:
    pickle.dump(linearmodel,f)

pickle_in=open("studentmodel.pickle","rb")
linearmodel=pickle.load(pickle_in)

In [23]:
print('Coefficient:\n', linearmodel.coef_)
print("Intercept:\n", linearmodel.intercept_)

Coefficient:
 [ 0.16438874  0.96050337 -0.19261822 -0.23192067  0.03804678]
Intercept:
 -1.4076922103969576

In [24]:
predictions=linearmodel.predict(x_test)

In [25]:
for x in range(len(predictions)):
    print(predictions[x],x_test[x],y_test[x])

10.913488176418722 [10 11  1  0  8] 10
12.63805046147268 [13 13  3  0  0] 13
10.388266254392603 [11 11  3  0  0] 10
5.549942776557463 [8 7 2 3 0] 0
12.855258157000371 [12 13  1  1  6] 14
13.915129668925733 [14 14  3  0  4] 14
5.2729998005562 [7 6 2 0 4] 6
8.569198214394122 [10  9  3  0  7] 9
8.03911390369338 [7 9 1 1 2] 8
9.441406399423029 [ 9 10  3  0  9] 9
11.905827749035984 [13 12  3  0  6] 12
13.363323549885187 [13 13  2  0 14] 14
9.367697192292205 [ 9 10  2  0  2] 9
14.916064158035892 [14 15  2  0  0] 15
12.74237350291232 [12 13  2  0  2] 13
3.763999918561228 [6 5 2 1 0] 0
15.677942140410815 [17 15  1  0  2] 15
12.062783542600371 [13 12  1  0  0] 12
10.502406582327364 [11 11  3  0  3] 11
18.29817341032544 [18 18  4  0  6] 18
7.663567737886854 [8 9 1 3 0] 10
5.08151024681822 [7 6 1 1 0] 0
15.754035692367323 [17 15  1  0  4] 16
8.663703969338645 [8 9 1 0 8] 10
18.009827060661735 [16 18  3  0  2] 18
17.510653693745937 [16 17  1  0  4] 18
9.5799499899994 [11 10  3  0  4] 10
5.9982728889687085 [ 7  6  1  0 18] 6
15.924431588815482 [15 16  3  0  2] 18
6.110028872077786 [ 7  6  2  0 26] 6
8.318898640708673 [8 9 2 0 4] 10
11.705776582649595 [12 12  2  0  0] 11
10.909661949577199 [13 11  2  0  0] 10
11.93041721984672 [12 12  2  1 12] 13
8.242805088752165 [8 9 2 0 2] 8
9.472020233731847 [ 8 10  1  0  4] 10
9.299036582005133 [10 10  4  0  6] 11
8.950624538547249 [ 6 10  2  0  4] 10
13.59591375024148 [11 12  2  0 54] 11
3.575207920685796 [3 5 2 1 8] 5